logs
.well-known
._*
.DS_Store
.DS_STORE
.VSCodeCounter
.htaccess
.env
._*
*.zip
node_modules
php_errorlog
authscript
wp-config.php
wp-content/cache
wp-content/languages
wp-content/uploads
wp-content/ai1wm-backups
wp-content/smush-webp
wp-content/upgrades
wp-content/upgrade-temp-backup
wp-content/updraft
wp-content/wphb-cache
wp-content/wpbh-logs
wp-content/wflogs
deploy_version
wp-content/plugins/sg-cachepress/sg-config.json
wp-content/plugins/query-monitor/
wp-content/advanced-cache.php
wp-content/sgo-config.php
wp-content/plugins/duplicate-post/css/duplicate-post.min.css
wp-content/plugins/wp-smartcrop/css/wp-smart-crop-renderer.min.css
wp-content/temp/*
advanced-cache.php
sgo-config.php
sgs_encrypt_key.php
rsk-self-hosted-google-analytics/gtag.js
sg-config.json
debug.log