/* Gravity Forms
================ */

.gform_confirmation_wrapper {
  padding: 30px 0;
  text-align: center;
  color: $black;
}

.gform_ajax_spinner {
  display: none;
}

.gform_wrapper {
  position: relative;
  width: 100%;
  margin: 0 auto;

  .gform_body {
    position: relative;
  }

  .to-email {
    display: none;
  }

  .validation_error {
    display: block;
    text-align: center;
    margin-bottom: 10px;
    font-weight: 600;
    color: $fail;
  }

  .validation_message {
    display: block;
    padding-top: 15px;
    font-weight: 600;
    color: $fail;
  }

  ul,
  li {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  .gform_fields {
    display: flex;
    flex-wrap: wrap;
    margin: 0 ($grid-gutter-width / 2 * -1);
  }

  .gfield {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 45px;
    line-height: 1;
    padding: 0 ($grid-gutter-width / 2);

    @include media-breakpoint-down(md) {
      margin-bottom: 20px;
    }

    &.half {
      flex: 0 0 50%;
      max-width: 50%;

      @include media-breakpoint-down(md) {
        flex: 0 0 100%;
        max-width: 100%;
      }
    }

    &.show-label {
      .gfield_label {
        display: block;
      }
    }
  }

  .gfield_label {
    display: none;
    margin-top: 5px;
    margin-bottom: 25px;
    font-weight: 500;
    @include font-size(35px);

    @include media-breakpoint-down(md) {
      @include font-size(30px);
    }
  }

  .gfield_required {
    display: none;
  }

  .ginput_container_select {
    position: relative;

  }

  .gform_footer {
    padding-top: 30px;
    input {
      display: block;
      width: 100%;
      height: 55px;
      padding: 0;
      margin: 0 auto;
    }
  }
}

input {
  width: 100%;
  height: 60px;
  padding: 0;
  border-radius: 0 !important;
  border: none;
  border-bottom: 1px solid $midgrey;
  box-sizing: border-box;
  outline: 0 !important;
  box-shadow: none !important;
  background: none;
  appearance: none;
  font-weight:500;

  @include font-size(20px);

  @include media-breakpoint-down(md) {
    height: 40px;

    @include font-size(17px);
  }
}

textarea {
  width: 100%;
  height: 134px;
  padding: 20px 0;
  border-radius: 0 !important;
  border: none;
  border-bottom: 1px solid $midgrey;
  box-shadow: none !important;
  box-sizing: border-box;
  outline: 0 !important;
  background: none;
  appearance: none;
  font-weight:500;

  @include font-size(20px);

  @include media-breakpoint-down(md) {
    height: 80px;

    @include font-size(17px);
  }
}

.gform_validation_container {
  display: none;
}

.gfield_radio,
.gfield_checkbox {
  > li {
    margin-bottom: 10px;
  }
}

input[type="radio"] {
  position: absolute;
  opacity: 0;
  left: -999999px;
  cursor: pointer;
  height: auto;
  appearance: none;

  + label {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 15px;
    box-sizing: border-box;
    font-size: 25px;

    @include media-breakpoint-down(md) {
      font-size: 17px;
      padding-left: 25px;
    }

    &:before {
      content: "";
      display: inline-block;
      position: absolute;
      top: 0;
      left: 0;
      margin: 0;
      width: 25px;
      height: 25px;
      border: 1px solid black;
      border-radius: 50%;
      background: $white;
      box-sizing: border-box;
      cursor: pointer;

      @include media-breakpoint-down(md) {
        width: 17px;
        height: 17px;
      }
    }
  }

  &:checked {
    + label {
      &:after {
        content: "";
        display: inline-block;
        position: absolute;
        left: 7px;
        top: 7px;
        margin: 0;
        width: 11px;
        height: 11px;
        background: $black;
        border-radius: 50%;
        vertical-align: middle;

        @include media-breakpoint-down(md) {
          top: 4px;
          left: 4px;
          width: 9px;
          height: 9px;
        }
      }

      &:before {
        border-color: $black;
      }
    }
  }
}

input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  left: -999999px;
  cursor: pointer;
  height: auto;

  + label {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 15px;
    box-sizing: border-box;
    font-size: 25px;

    @include media-breakpoint-down(md) {
      padding-left: 25px;
      font-size: 17px;
    }

    &:before {
      content: "";
      display: inline-block;
      position: absolute;
      top: 0;
      left: 0;
      width: 23px;
      height: 23px;
      border: 1px solid $black;
      border-radius: 0;
      box-sizing: border-box;
      cursor: pointer;
      background: $white;

      @include media-breakpoint-down(md) {
        width: 17px;
        height: 17px;
      }
    }
  }

  &:checked {
    + label {
      &:after {
        content: "";
        display: inline-block;
        position: absolute;
        bottom: auto;
        margin: auto 0;
        left: 7px;
        top: 1px;
        width: 9px;
        height: 17px;
        border: solid $black;
        border-width: 0 3px 3px 0;

        transform: rotate(45deg);

        @include media-breakpoint-down(md) {
          left: 6px;
          width: 5px;
          height: 13px;
        }
      }

      &:before {
        border-color: $black;
      }
    }
  }
}


select {
  padding: 0 45px 0 0;
  margin: 0;
  text-overflow: "";
  border: none;
  border-bottom: 1px solid $midgrey;
  border-radius: 0 !important;
  width: 100%;
  height: 90px;
  outline: 0 !important;
  appearance: none;
  background-image: url(../images/select-arrow.svg);
  background-position: calc(100% - 20px) center;
  background-repeat: no-repeat;
  background-size: 15px;
  background-color: transparent;
  color: $black;

  @include font-size(35px);

  @include media-breakpoint-down(md) {
    height: 60px;

    @include font-size(25px);
  }

}

select::-ms-expand {
  display: none;
}
