a {
	color: #8bc53f;
	text-decoration: none;
}

a:hover,
a:focus {
	color: $black;
	text-decoration: none;
}

.btn {
	display: inline-block;
	position: relative;
	min-width: 173px;
	padding: 15px 20px;
	border-radius: 0;
	text-align: center;
	line-height: 1;
	font-size: $baseline;
	font-weight: 500;
	border: 2px solid #497593;
	background: rgba(#e6e7e8, 0.75);
	color: #497593;
	cursor: pointer;
	transition: 300ms;

	@include media-breakpoint-down(md) {
		min-width: 150px;
	}

	@include media-breakpoint-down(sm) {
		font-size:16px;
	}

	&:hover,
	&:focus {
		background: #497593;
		color: $white;
	}

	&--white {
		background: transparent;
		border-color: $white;
		color: $white;

		&:hover, &:focus {
			background: $white;
			color: $color-primary;
		}
	}
}

.text-white {
	color: $white;

	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	p,
	li {
		color: $white;

		a {
			color: $white;

			&:hover,
			&:focus {
				color: rgba($white, 0.75);
			}
		}
	}
}

.text-primary {
	color: $color-primary;

	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	p,
	li {
		color: $color-primary;

		a {
			color: $color-primary;

			&:hover,
			&:focus {
				color: rgba($color-primary, 0.75);
			}
		}
	}
}


.bg-offwhite {
	background: $offwhite;
}

.bg-darkgrey {
	background: $darkgrey;
}

.bg-green {
	background:#95c11f;
	.headings h2 {
		color:white;
	}
}

.loader {
	position: absolute;
	left: 0;
	right: 0;
	top: auto;
	bottom: -40px;
	margin: auto;
	display: none;
	width: 18px;
	height: 18px;
	border-radius: 50%;
	border-top: 4px solid $color-primary;
	border-right: 4px solid $color-primary;
	border-bottom: 4px solid transparent;
	border-left: 4px solid transparent;
	animation: spin 500ms infinite linear;

	@keyframes spin {
		0% {
			transform: rotate(0);
		}
		100% {
			transform: rotate(360deg);
		}
	}
}

.header-spacer {
	height: 172px;

	@media only screen and (max-width: $screen-xxl) {
		height: 172px;
	}

	@include media-breakpoint-down(lg) {
		height: 172px;
	}

	@include media-breakpoint-down(md) {
		height: 132px;
	}

	@include media-breakpoint-down(sm) {
		height: 116px;
	}

	&.header-spacer--tall {
		height: 240px;

		@media only screen and (max-width: $screen-xxl) {
			height: 190px;
		}

		@include media-breakpoint-down(lg) {
			height: 155px;
		}

		@include media-breakpoint-down(md) {
			height: 85px;
		}

		@include media-breakpoint-down(sm) {
			height: 67px;
		}

	}
	&.header-spacer--social {
		height: 285px;

		@media only screen and (max-width: $screen-xxl) {
			height: 205px;
		}

		@include media-breakpoint-down(lg) {
			height: 175px;
		}

		@include media-breakpoint-down(md) {
			height: 135px;
		}

		@include media-breakpoint-down(sm) {
			height: 140px;
		}
	}

	&.header-spacer--social.header-spacer--tall {
		height: 355px;

		@media only screen and (max-width: $screen-xxl) {
			height: 265px;
		}

		@include media-breakpoint-down(lg) {
			height: 210px;
		}

		@include media-breakpoint-down(md) {
			height: 135px;
		}

		@include media-breakpoint-down(sm) {
			height: 140px;
		}
	}
}

/* Google Maps
============== */

.acf-map {
	width: 100%;
	height: 630px;

	@include media-breakpoint-down(md) {
		height: 400px;
	}
}

/* fixes potential theme css conflict */
.acf-map img {
	max-width: inherit !important;
}

.container {
	width: 90%;

	@include media-breakpoint-down(md) {
		width: 95%;
	}
}

.block-space {
//    padding-top: 200px;
//    padding-bottom: 200px;
	padding-top: 68px;
	padding-bottom: 68px;

	@include media-breakpoint-down(md) {
//        padding-top: 150px;
//        padding-bottom: 150px;
		padding-top: 60px;
		padding-bottom: 60px;
	}

	@include media-breakpoint-down(sm) {
//		padding-top: 115px;
//		padding-bottom: 115px;
		padding-top: 50px;
		padding-bottom: 50px;
	}

	&--small {
		padding-top: 60px;
		padding-bottom: 60px;

		@include media-breakpoint-down(md) {
			padding-top: 50px;
			padding-bottom: 50px;
		}

		@include media-breakpoint-down(sm) {
			padding-top: 40px;
			padding-bottom: 40px;
		}
	}
}

.divider {
	position: relative;

	&:after{
		content: "";
		display: block;
		position: absolute;
		left: 50%;
		z-index: 30;
		width: 50px;
		height: 30px;
		// background: $color-primary;
		background-image: url(../../assets/images/arrows.png);
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
		transform: rotate(90deg) translateY(50%);
		bottom: -20px;
		margin-left:-11px;

		@media (max-width: 991.98px){
			width: 25px;
			height: 10px;
			margin-left:-6px;
			bottom:-5px;
		}
		@include media-breakpoint-down(sm) {

		}
	}

	&--top {
		&:after {
			display: none;
		}
	}

	&--bottom {
		&:before {
			display: none;
		}
	}
}




.flickity-enabled {

	.flickity-page-dots {
		bottom: -50px;


		@include media-breakpoint-down(md) {
			bottom: -50px;
		}

		@include media-breakpoint-down(xs) {
			display: none;
		}

		.dot {
			width: 24px;
			height: 24px;
			margin: 0 15px;
			border: 4px solid $offwhite;
			background: transparent;
			opacity: 1;

			@include media-breakpoint-down(md) {
				width: 18px;
				height: 18px;
				margin: 0 5px;
				border-width: 3px;
			}

			&.is-selected {
				border: 1px solid $midgrey;
				background: $color-primary;
			}
		}
	}

	.flickity-button {
		width: 60px;
		height: 60px;
		background: none;

		&.previous {
			left: -60px;

			@media only screen and (max-width: $screen-xxl) {
				left: -15px;
			}

			@include media-breakpoint-down(sm) {
				left: 0;
			}
		}

		&.next {
			right: -60px;

			@media only screen and (max-width: $screen-xxl) {
				right: -15px;
			}

			@include media-breakpoint-down(sm) {
				right: 0;
			}
		}
	}
}


.play {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 5;
	width: 180px;
	height: 180px;
	border-radius: 50%;
	background: $color-primary;
	transform: translateX(-50%) translateY(-50%);

	@include media-breakpoint-down(sm) {
		width: 120px;
		height: 120px;
	}

	&:after {
		content: '';
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		z-index: 1;
		margin-left: 7px;
		border-top: 40px solid transparent;
		border-right: 0;
		border-bottom: 40px solid transparent;
		border-left: 70px solid $white;
		transform: translateX(-50%) translateY(-50%);
		transition: 300ms;

		@include media-breakpoint-down(sm) {
			border-top: 25px solid transparent;
			border-right: 0;
			border-bottom: 25px solid transparent;
			border-left: 45px solid $white;
		}
	}
}


.flip-block {
	height: 480px;
	text-align: center;

	@include media-breakpoint-down(sm) {
		height: 350px;
	}

	.flip-block__number {
		margin-bottom: 40px;
		&:before {
			margin: 0 auto;
		}
	}

	&__front {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		position: absolute;
		width: 100%;
		height: 100%;
		padding: 50px;
		backface-visibility: hidden;

		@include media-breakpoint-down(md) {
			padding: 30px;
		}

		> div {
			max-width: 300px;
			margin: 0 auto;
		}
	}

	&__back {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		position: absolute;
		width: 100%;
		height: 100%;
		transform: rotateY(180deg);
		z-index: 100;
		padding: 50px;
		backface-visibility: hidden;


		@include media-breakpoint-down(md) {
			padding: 30px;
		}
	}

	&__inner {
		position: relative;
		width: 100%;
		height: 100%;
		text-align: center;
		transition: 0.8s;
		transform-style: preserve-3d;
	}

	.headings {
		margin: 0;
	}


	&:hover, &:focus {
		.flip-block__inner {
			transform: rotateY(180deg);
		}
	}
}

.list-bordered {
	display: inline-block;
	padding: 30px 0 0;
	margin: 0;
	list-style: none;

	li {
		padding-bottom: 15px;
		margin-bottom: 40px;
		border-bottom: 1px solid $midgrey;
	}
}

.links-reverse {
	a {
		color: $black;

		&:hover, &:focus {
			color: $color-primary;
		}
	}
}

.content-width {
	max-width: 1140px;
}

.underlined {
	&:after {
		content: '';
		display: block;
		width: 100%;
		max-width: 40px;
		height: 4px;
		margin-top: 5px;
		background: $color-primary;
	}
}

.detail-list {
	&__item {
		padding: 25px 0;
		margin: 0;
		border-bottom: 1px solid $midgrey;

		p, span {
			margin: 0;
			color: $midgrey;
		}

		a {
			color: $midgrey;

			&:hover, &:focus {
				color: $color-primary;
			}
		}
	}
}

h1 {
	color:$color-primary;
}


.flickity-button {
	display: none !important;
}