/* ==========================================================================

   1. Variables
   2. Grid
   3. Base styles: opinionated defaults
   4. Mixins
   5. Fonts
   6. Plugins
   7. Helper
   8. Typography
   9. Custom styles

   */

/* ==========================================================================
   1. Variables
   ========================================================================== */

@import "variables";

/* ==========================================================================
   2. Grid
   ========================================================================== */

@import "bootstrap";

/* ==========================================================================
   3. Base Styles
   ========================================================================== */

@import "mixins";
@import "base";


/* ==========================================================================
   5. Fonts
   ========================================================================== */

@import "fonts";

/* ==========================================================================
   6. Plugins
   ========================================================================== */

@import "vendor/aos";
@import "vendor/fancybox";
@import "vendor/flickity";
@import "vendor/slick";

/* ==========================================================================
   7. Helper
   ========================================================================== */

@import "helper";

/* ==========================================================================
   8. Typography
   ========================================================================== */

@import "typography";

/* ==========================================================================
   9. Custom Styles
   ========================================================================== */

@import "general-styles";
@import "form";

//Structure
@import "structure/header";
@import "structure/footer";

//Components
@import "components/burger";
@import "components/mobile-navigation";
@import "components/headings";
@import "components/quick-links";
@import "components/share";
@import "components/tile";
@import "components/pagination";
@import "components/social";
@import "components/tweets";
@import "components/cookie-banner";

//Templates
@import "templates/archive";
@import "templates/blog";
@import "templates/post";
@import "templates/error-block";


//Blocks
@import "blocks/hero";
@import "blocks/latest-projects";
@import "blocks/latest-posts";
@import "blocks/logos";
@import "blocks/rsk-group";
@import "blocks/heading-copy";
@import "blocks/page-header";
@import "blocks/team";
@import "blocks/video";
@import "blocks/steps";
@import "blocks/wysiwyg";
@import "blocks/contact";
@import "blocks/offices";
@import "blocks/instagram";
@import "blocks/linked-header";
@import "blocks/post-content";
@import "blocks/images";
@import "blocks/related-posts";
@import "blocks/features";
@import "blocks/tiles";
@import "blocks/copy-details";

