.copy-details {

    &__heading {
        margin-bottom: 60px;
    }

    &__details {
        max-width: 300px;
        margin-left: auto;

        @include media-breakpoint-down(md) {
            padding-top: 60px;
            max-width: 100%;
        }
    }

    .detail-list {
        padding: 20px 0 40px;
    }
}
