.images {
    padding: 20px 0;

    &__row-reverse {
        flex-direction: row-reverse;
    }

    &__col {

        &--offset {
            &:first-child {
                flex: 0 0 47.5%;
                max-width: 47.5%;

                @include media-breakpoint-down(xs) {
                    flex: 0 0 100%;
                    max-width: 100%;
                    margin-bottom: 20px;
                }
            }

            &:last-child {
                flex: 0 0 52%;
                max-width: 52%;

                @include media-breakpoint-down(xs) {
                    flex: 0 0 100%;
                    max-width: 100%;
                }
            }
        }
    }

    &__image {
        margin-bottom: 7.75%;

        @include media-breakpoint-down(xs) {
            margin-bottom: 20px;
        }

        &:last-child {
            margin-bottom: 0;


        }
    }
}
