.instagram {

    &__posts {
        display: flex;
        flex-wrap: wrap;
        position: relative;
    }

    &__post {
        flex: 0 0 (100% / 6);
        max-width: (100% / 6);

        @include media-breakpoint-down(lg) {
            flex: 0 0 (100% / 3);
            max-width: (100% / 3);
        }

        @include media-breakpoint-down(xs) {
            flex: 0 0 50%;
            max-width: 50%;
        }

        a {
            &:hover, &:focus {
                opacity: 0.75;
            }
        }
    }

    &__banner {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        padding: 30px 75px;
        @include font-size(20px);
        background: $white;
        transform: translateX(-50%) translateY(-50%);

        @include media-breakpoint-down(sm) {
            padding: 25px;
        }

        a {
            font-weight: 500;
            color: $midgrey;

            &:hover, &:focus {
                color: $color-primary;
            }
        }

        span {
            transition: none;
        }
    }
}
