.latest-posts {
    position: relative;
   // overflow: hidden;
    padding-bottom:100px;


    &__posts {
        margin: 0 -20px;

        @include media-breakpoint-down(lg) {
            margin: 0 -10px;
        }
    }

    &__post {
        width: (100% / 3);
        padding: 0 20px;

        //min-height: 620px;

        @include media-breakpoint-down(lg) {
          //  min-height: 450px;
            padding: 0 10px;
        }

        @include media-breakpoint-down(md) {
            width: 50%;
        }

        @include media-breakpoint-down(xs) {
            width: 100%;
          //  min-height: 350px;
        }

        a {
            display: flex;
            flex-wrap: wrap;
            align-items: flex-end;
            width: 100%;
            height: 100%;
            padding-top:100%;
            min-height: inherit;
            position: relative;
            overflow: hidden;
            backface-visibility: hidden;
            transform: translate3d(0,0,0);

            &:hover, &:focus {
                .latest-posts__thumbnail {
                    filter: grayscale(0);
                    transform: scale(1.1);

                    &:after {
                        opacity: 0.75;
                    }
                }
            }
        }
    }

    &__thumbnail {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        filter: grayscale(1);
        transition: 600ms;
        backface-visibility: hidden;
        transform: translate3d(0,0,0);

        @include bg-cover;

        &:after {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba($black, 0.6);
            transition: 600ms;
        }
    }


    &__content {
        position: absolute;
        z-index: 2;
        padding: 100px 75px;
        text-align: center;

        @include media-breakpoint-down(lg) {
            padding: 75px 30px;
        }

        * {
            margin: 0;
        }
    }

    &__title {
        margin-bottom: 10px;
    }

    .flickity-enabled {
        .flickity-page-dots {
            .dot {
                border-color: $midgrey;
            }
        }
    }
}
