.latest-projects {

    &__posts {
        display: flex;
        flex-wrap: wrap;
    }

    &__post {
        flex: 0 0 (100% / 3);
        max-width: (100% / 3);
        height: 25vw;
        max-height: 390px;

        @include media-breakpoint-down(sm) {
            flex: 0 0 50%;
            max-width: 50%;
            height: 32vw;
        }

        @include media-breakpoint-down(sm) {
            flex: 0 0 100%;
            max-width: 100%;
            height: 40vw;
            min-height: 350px;
        }

        a {
            display: block;
            position: relative;
            overflow: hidden;
            width: 100%;
            height: 100%;
            transform: translate3d(0,0,0);
            backface-visibility: hidden;

            h4 {
                position: absolute;
                width:90%;
                top: 50%;
                left: 50%;
                z-index: 2;
                padding: 50px;
                margin: 0;
                opacity: 0;
                visibility: hidden;
                pointer-events: none;
                transition: 600ms;
                transform: translateX(-50%) translateY(-50%);
                color:white;
                text-align:center;

                @include media-breakpoint-up(lg) {
                    font-size:36px;
                }

                @include media-breakpoint-down(md) {
                    opacity: 1;
                    visibility: visible;
                    pointer-events: auto;
                }
            }

            &:hover, &:focus {
                .latest-projects__thumbnail {
                    transform: scale(1.1);

                    &:after {
                        opacity: 0.5;
                    }
                }

                h4 {
                    opacity: 1;
                    visibility: visible;
                    pointer-events: auto;
                }
            }
        }
    }

    &__thumbnail {
        position: relative;
        height: 100%;
        padding: 50px;
        @include bg-cover;
        transition: 600ms;

        backface-visibility: hidden;
        transform: translate3d(0,0,0);

        &:after {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(135deg, #95c11f, rgba($darkgrey, 0.15));
            opacity: 0;
            transition: 600ms;

            @include media-breakpoint-down(md) {
                opacity: 0.5;
            }
        }
    }
}
