.linked-header {
	position: relative;

	&:after{
		content: "";
		display: block;
		position: absolute;
		left: 50%;
		z-index: 30;
		width: 50px;
		height: 30px;
		// background: $color-primary;
		background-image: url(../../assets/images/arrows.png);
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
		transform: rotate(90deg) translate(50%);
		bottom: 5px;
		margin-left:-25px;

		@media (max-width: 991.98px){
			width: 40px;
			height: 20px;
		}
	}

	&__image {
		position: absolute;
		top: 0;
		left: 0;
		width: 50%;
		height: 100%;
		@include bg-cover;

		@include media-breakpoint-down(lg) {
			position: relative;
			height: 400px;
			width: 100%;
		}

		@include media-breakpoint-down(sm) {
			height: 300px;
		}
	}

	.container {
		position: relative;
	}

	&__content {
		position: relative;
		z-index: 2;
		max-width: 50%;
		padding: 200px 50px 80px;
		padding:130px 50px 140px 50px;
		margin-left: auto;

		@include media-breakpoint-down(lg) {
			max-width: 100%;
			padding: 80px 50px;
		}

		@include media-breakpoint-down(sm) {
			padding: 50px;
		}

		&:after {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 0;
			width: calc((((100vw - (100% / 5 * 10)) / 2) + 100%));
			height: 100%;
			background: $offwhite;

			@include media-breakpoint-down(lg) {
				left: -50%;
				width: 200vw;
			}
		}

		* {
			position: relative;
			z-index: 2;
		}
	}

	.button {
		padding-top: 30px;
		text-align: center;
		text-align: left;
	}

	.headings {
		margin-bottom: 10px;

		h2{
			color: $color-primary;
		}

		* {
			&:first-child {
				&:before {
					display: none;
				}
			}
		}
	}

	&__link {
		position: absolute;
		top: 50%;
		z-index: 100;
		width: 50px;
		height: 50px;


		&--previous {
			top: 50%;
			left: -15px;
			transform: translateX(-50%) translateY(-50%);

			@include media-breakpoint-down(md) {
				left: 30px;
			}

			a {
				transform: rotate(45deg);
				transform-origin: 0 0;
				margin-left: 25px;
				border-bottom: 3px solid $midgrey;
				border-left: 3px solid $midgrey;
			}
		}

		&--next {
			top: 50%;
			right: -15px;
			transform: translateX(50%) translateY(-50%) ;

			@include media-breakpoint-down(md) {
				right: 30px;
			}

			a {
				transform: rotate(45deg);
				transform-origin: 0 0;
				margin-left: 25px;
				border-right: 3px solid $midgrey;
				border-top: 3px solid $midgrey;
			}

		}

		a {
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 65%;
			height: 65%;
			text-indent: -99990px;




			&:hover, &:focus {
				border-color: $color-primary;
			}
		}
	}
}
