.offices {

	&.less-than{

		@media (min-width: 1199.98px){

			.flickity-button{
				display: none!important;
			}

			.flickity-slider{
				transform: none!important;
			}
		}
	}

	&__carousel {
		margin: 0 -15px;
		@include clearfix;

		// @media only screen and (max-width: $screen-xxl) {
		// 	padding: 0 45px;
		// }
	}

	&__carousel-item {
		width: 25%;
		padding: 0 15px;
		float:left;

		@include media-breakpoint-down(lg) {
			width: (100% / 3);
		}

		@include media-breakpoint-down(md) {
			width: 50%;
		}

		@include media-breakpoint-down(xs) {
			width: 100%;
		}

		h5 {
			margin-bottom: 0;
			text-transform: uppercase;
		}
	}
}
