.page-header {
	position: relative;
	z-index: 30;

	&:after{
		content: "";
		display: block;
		position: absolute;
		left: 50%;
		z-index: 30;
		width: 50px;
		height: 30px;
		// background: $color-primary;
		background-image: url(../../assets/images/arrows.png);
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
		transform: rotate(90deg) translate(50%);
		bottom: 5px;

		@media (max-width: 991.98px){
			width: 40px;
			height: 20px;
		}
	}

	&--alt {
		h1 {
			margin: 0;
		}

		.page-header__background {
			padding-top:31.35417%;

			@include media-breakpoint-down(lg) {
				padding-top:47.15%;

			}
		}
		.page-header__content {
			padding: 35px;
			@include centerer-vertical;
			right:0;

			@include media-breakpoint-down(md) {
				padding: 20px;
			}
		}
	}

	&__background {
		position: relative;
		overflow: hidden;
		//min-height: 600px;
		padding-top: 350px;
		padding-top:31.35417%;

		@include bg-cover;

		@media only screen and (max-width: $screen-xxl) {
			padding-top: 150px;
		}

		@include media-breakpoint-down(lg) {
			padding-top:47.15%;
			//min-height: 300px;
		}
	}

	&__content {
		position: relative;
		max-width: calc(50% - 90px);
		margin-left: auto;
		padding: 65px 35px 160px 200px;
		@include centerer-vertical;
		right:0;

		@include media-breakpoint-down(lg) {
			max-width: 50%;
			padding: 50px;
		}

		@include media-breakpoint-down(sm) {
			max-width: 100%;
		}

		@include media-breakpoint-down(xs) {
			padding: 20px 0 50px 30px;
		}

		&:after {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 0;
			width: calc((((100vw - 200%) / 2) + 100%) - 90px);
			height: 100%;
			background: rgba($white, 0.75);

			@include media-breakpoint-down(lg) {
				width: calc((((100vw - 200%) / 2) + 100%));
			}

			@include media-breakpoint-down(md) {
				width: calc((((100vw - 100%) / 2) + 100%));
			}
		}

		* {
			position: relative;
			z-index: 2;
		}
	}
}

.archive {
	.page-header {
		text-align: center;

		&__background {
			padding-bottom: 100px;
		}
	}
}
