.post-content {
    .container {

        .container {
            padding: 0;
            width: 100%;
            max-width: none;
        }
    }

    .headings {
        margin-bottom: 35px;

        h2 {
            @include font-size(40px);
        }
    }

    .wysiwyg {

        &:first-child {
            .wysiwyg__content {
                padding-top: 0;
            }
        }

        &:before, &:after {
            display: none;
        }

        &__content {
            padding-top: 15px;
            padding-bottom: 15px;
        }
    }

    &__sidebar {
        padding-top: 25px;
        max-width: 275px;
        margin-left: auto;

        @include media-breakpoint-down(sm) {
            max-width: 100%;
        }

        &--first {
            padding-top: 0;
            margin: 0;
        }
    }

    &__details {
        padding-top: 20px;

        .button {
            padding: 50px 0 0;
        }
    }

    &__detail {
        margin-bottom: 20px;
        border-bottom: 1px solid $midgrey;

        p, a {
            color: $midgrey;
        }

        a {
            &:hover, &:focus {
                color: $color-primary;
            }
        }
    }

    .share {
        padding-top: 50px;
    }


    &__col {
        padding-top: 30px;

        &--first {
            padding-top: 0;

            .post-content__details {
                padding-top: 0;
            }

            .post-content__detail {
                &:first-child {
                    padding-top: 0;
                }
            }
        }
    }

}
