.rsk-group {
    position: relative;
    z-index: 30;

    &__images {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-bottom: 85px;

        @include media-breakpoint-down(sm) {
            padding-bottom: 50px;
        }
    }

    &__image {
        flex: 1 0;

        @include media-breakpoint-down(xs) {
            flex: 0 0 (100% / 3);
            max-width: (100% / 3);
        }
    }

    .headings {
        margin-bottom:35px;
        h2 {
            margin-bottom:20px;
        }
    }

    &__logo {
        max-width: 250px;
        padding-top: 0px;

        @include media-breakpoint-down(sm) {
            padding-top: 50px;
        }
    }
}
