.video {
    position: relative;
    overflow: hidden;

    &__background {

        @include media-breakpoint-down(sm) {
            padding-top: 0;
            padding-bottom: 0;
        }

        &:after {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            right: 50%;
            width: 100%;
            height: 100%;
            background: $darkgrey;
            transform: skewX(-25deg);

            @media only screen and (max-width: $screen-xxl) {
                right: 25%;
            }

            @include media-breakpoint-down(sm) {
                display: none;
            }
        }

        > a {
            display: block;
            &:hover, &:focus {
                .play {
                    background: $white;
                    &:after {
                        border-left-color: $color-primary;
                    }
                }
            }

            @include media-breakpoint-down(sm) {
                padding-top: 300px;
            }
        }
    }

    &__content {
        position: relative;
        z-index: 2;
        width: 50%;
        max-width: 520px;
        pointer-events: none;

        @include media-breakpoint-down(sm) {
            width: 100%;
            max-width: 100%;
            padding: 100px 0 80px;
            background: $darkgrey;

            &:after {
                content: '';
                display: block;
                position: absolute;
                top: 0;
                left: -10%;
                width: 125%;
                height: 100%;
                background: $darkgrey;
            }

            > * {
                position: relative;
                z-index: 2;
            }
        }
    }

    .play {
        @media only screen and (max-width: $screen-xxl) {
            left: 75%;
        }

        @include media-breakpoint-down(sm) {
            top: 300px;
            left: 50%;
        }
    }

}
