.wysiwyg {

	&__header {
		background: $offwhite;

	//    padding-top: 200px;
	//    padding-bottom: 200px;
		padding-top: 120px;
		padding-bottom: 5px;

		@include media-breakpoint-down(md) {
	//        padding-top: 150px;
	//        padding-bottom: 150px;
			padding-top: 100px;
			padding-bottom: 5px;
		}

		@include media-breakpoint-down(sm) {
	//		padding-top: 115px;
	//		padding-bottom: 115px;
			padding-top: 80px;
			padding-bottom: 5px;
		}

//		@include media-breakpoint-down(md) {
//			padding-top: 100px;
//		}

	}

	&__content {
		padding: 80px 0 140px;
	}

	.tablepress{
		color: #434648;

		td,
		th{
			padding: 8px;
			border: none;
			background: 0 0;
			text-align: left;
			float: none!important;
		}

		thead th{
			background-color: #95C11F;
			border-bottom: 1px solid #ddd;
		}

		tfoot th{
			background-color: #d9edf7;
		}

		tfoot th,
		thead th{
			font-weight: 700;
			vertical-align: middle;
		}

		tbody td,
		tfoot th{
			border-top: 1px solid #ddd;
		}

		tbody tr:first-child td{
			border-top: 0;
		}

		tbody td{
			vertical-align: top;
		}

		.even td{
			background-color: #fff;
		}

		.odd td{
			background-color: #f9f9f9;
		}

		tbody .even:hover td,
		tbody .odd:hover td{
			background-color: #f3f3f3;
		}


	}
}
