/* Main column width */
.wp-block {
    max-width: 1080px;
}

/* Width of "wide" blocks */
.wp-block[data-align="wide"] {
    max-width: 1280px;
}

/* Width of "full-wide" blocks */
.wp-block[data-align="full"] {
    max-width: none;
}

.wp-block::before {
    content: attr(aria-label) !important;
    top: 0 !important;
    height: 25% !important;
    margin-top: 30px;
    padding: 10px 10px 10px !important;
    font-size: 40px !important;
    border-top: 1px solid rgba(0, 0, 0, 0.1) !important;
    position: static !important;
    z-index: 1;
    display: block;
    width: 100%;
}

@media only screen and (max-width: 768px) {
   .wp-block::before {

        font-size: 20px !important;

    }
}

.wp-block::after {

    z-index: 0;

    content: "";

    position: absolute;

    border: 1px solid transparent;

    border-left: none;

    box-shadow: none;

    pointer-events: none;

    transition: border-color .1s linear, border-style .1s linear, box-shadow .1s linear;

    outline: 1px solid transparent;

    right: -14px;

    left: -14px;

    top: -14px;

    bottom: -14px;
}
