.headings {
    margin-bottom: 35px;

    @include media-breakpoint-down(lg) {
        margin-bottom: 25px;
    }

    @include media-breakpoint-down(sm) {
        margin-bottom: 25px;
    }

    h2 {
        color:#497593;
    }


    > * {
        margin-bottom: 0;

        &:first-child {
            // &:before {
            //     content: '';
            //     display: block;
            //     width: 35px;
            //     height: 4px;
            //     margin-bottom: 15px;
            //     background: $color-primary;
            // }
            &:before{
                content: "";
                display: block;
                z-index: 30;
                width: 50px;
                height: 30px;
                // background: $color-primary;
                background-image: url(../../assets/images/arrows.png);
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                margin-bottom: 10px;
        
                @media (max-width: 991.98px){
                    width: 25px;
                    height: 10px;
                }
            }
        }
    }

    .text-primary {
        color: black!important;
    }
}
