.social {
    display: inline-block;
    vertical-align: middle;
    line-height: 1;

    &__list {
        margin: 0;
        font-size: 0;
    }

    &__item {
        display: inline-block;
        vertical-align: middle;
        margin: 0 9px;

        @include media-breakpoint-down(lg) {
            margin: 0 5px;
        }
    }

    a {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 30px;
        font-size: 16px;
        border-radius: 50%;
        border: 3px solid $color-secondary;
        color: $white;

        &:hover, &:focus {
            background: $white;
            //border-color: $white;
            color: $color-primary;
        }
    }

}
