.tiles__blocks{

	.tiles__block{

		&:nth-of-type(2n + 1){

			.tile__col{

				@media (min-width: 992px){

					&:not(.tile__col--content){

						&:after{
							content: '';
							position: absolute;
							top: 50%;
							right: -1px;
							transform: translateY(-50%);
							width: 0;
							height: 0;
							border-width: 15px 15px 15px 0;
							border-color: transparent #FFFFFF transparent transparent;
							border-style: solid;
						}
					}
				}
			}
		}

		&:nth-of-type(2n + 2){

			.tile__col{

				@media (min-width: 992px){

					&:not(.tile__col--content){

						&:after{
							content: '';
							position: absolute;
							top: 50%;
							left: -1px;
							transform: translateY(-50%);
							width: 0;
							height: 0;
							border-width: 15px 0 15px 15px;
							border-color: transparent transparent transparent #FFFFFF;
							border-style: solid;
						}
					}
				}
			}
		}
	}
}

.tile {

	&__col {
		position: relative;
		overflow: hidden;


	}

	&__link {
		backface-visibility: hidden;
		transform: translate3d(0,0,0);

		&:hover, &:focus {

			.tile__image {
				transform: scale(1.1);

				&:after {
					opacity: 0.5;
				}
			}

			.btn {
				background: $color-primary;
				color: $white;
			}
		}
	}


	.row {
		margin: 0;

		> div {
			padding: 0;
		}
	}

	p, li {
		color: $black;
	}

	&__image {
		width: 100%;
		height: 100%;
		transition: 600ms;

		@include bg-cover;

		&:after {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: linear-gradient(135deg, $color-primary, rgba($darkgrey, 0.15));
			opacity: 0;
			transition: 600ms;
		}
	}

	&__content {
		padding: 50px;
		max-width: 660px;
		margin: 0 auto;

		@include media-breakpoint-down(lg) {
			padding: 40px;
		}

		@include media-breakpoint-down(xs) {
			padding-right: 10px;
			padding-left: 10px;
		}
	}


}
